@media screen and (min-width:200px){
    
.box{
    background-color: greenyellow;
    padding: 30px 20px;
    border: 2px solid black;
    margin: 20px 40px;
}
.smallbox{
    background-color: lightblue;
    text-align: center;
    padding: 20px 1px;
    margin : 30px 0px;
    border:2px solid black ;
}
.smallbox1{
    background-color: aliceblue;
    border:2px solid black;
    padding:10px 8px;
    width:80px;
    height:100px;
    margin: 20px;
   justify-content: center;
}
.col-sm-8{
      text-align: center;
      
}
.smallbox2{
    background-color: brown;
    border-radius: 50%;
    border: 2px solid black;
    height: 80px;
    width: 60px;
    padding:20px 1px;
}
.but{
    width:100px;
}
.typ{
    width: 500px;
    text-align: center;
}
.type{
    text-align: center;
}
}